# Environment variables
.env*
!.env.example

# Dependencies
node_modules/
venv/

# Logs
logs/
*.log

# macOS system files
.DS_Store

# IDE files
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc 


Documentation/